
    <header>

      <!-- Nav Bar -->
      <h1 class="center">Miguel Almunia</h1> 
      <h5 class="center">Associate Professor of Economics, <a href="https://www.cunef.edu/">CUNEF Universidad</a></h5> 
      <!-- {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}--> 

          <nav class="center">
            <ul>
              <li class="center">
                <a class="nav-link" href="{{ '/' | relative_url }}">about</a>
              </li>

              <li class="center cvwidth">
                <a class="nav-link" href="{{ '/cv/' | relative_url }}">cv</a>
              </li>

              <li class="center">
                <a class="nav-link" href="{{ '/research/' | relative_url }}">research</a>
              </li>

               <li class="center">
                <a class="nav-link" href="{{ '/policywork/' | relative_url }}">policy</a>
              </li>

               <li class="center">
                <a class="nav-link" href="{{ '/teaching/' | relative_url }}">teaching</a>
              </li>

               <li class="center">
                <a class="nav-link" href="{{ '/contact/' | relative_url }}">contact</a>
              </li>

              {%- if site.enable_darkmode %}
              <!-- Toogle theme mode -->
              <div class = "toggle-container">
                <a id = "light-toggle">
                  <i class="fas fa-moon"></i>
                  <i class="fas fa-sun"></i>
                </a>
              </div>
              {%- endif %}

            </ul>
          </nav> 

    </header>